<div class="container">
  <div class="about-title">
      <h1>Our Best Services</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>
     <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-about-1">
        <div class="img-about-1">
          <%=image_tag("settings-gears.png")%>

        </div>
        <div class="about-galery-text-1">
          <h5>Service Repair</h5>
          <p>Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enimolore eu fugiat nulla pariatur.</p>
          </div>
      </div><!--End col-->

      <div class="col-sm-12 col-md-4 col-lg-4 col-about-1">
        <div class="img-about-1">
          <%=image_tag("settings-gears.png")%>
        </div>
        <div class="about-galery-text-1">
          <h5>Service Repair</h5>
          <p>Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enimolore eu fugiat nulla pariatur.</p>
          </div>
      </div><!--End col-->

      <div class="col-sm-12 col-md-4 col-lg-4 col-about-1">
        <div class="img-about-1">
          <%=image_tag("settings-gears.png")%>

        </div>
        <div class="about-galery-text-1">
          <h5>Service Repair</h5>
          <p>Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enimolore eu fugiat nulla pariatur.</p>
          </div>
      </div><!--End col-->
   </div><!-- End row-->

   <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-about-1">
      <div class="img-about-1">
        <%=image_tag("settings-gears.png")%>

      </div>
      <div class="about-galery-text-1">
        <h5>Service Repair</h5>
        <p>Sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enimolore eu fugiat nulla pariatur.</p>
        </div>
    </div><!--End col-->

    <div class="col-sm-12 col-md-4 col-lg-4 col-about-1">
      <div class="img-about-1">
        <%=image_tag("settings-gears.png")%>

      </div>
      <div class="about-galery-text-1">
        <h5>Service Repair</h5>
        <p>Sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enimolore eu fugiat nulla pariatur.</p>
        </div>
    </div><!--End col-->

    <div class="col-sm-12 col-md-4 col-lg-4 col-about-1">
      <div class="img-about-1">
        <%=image_tag("settings-gears.png")%>

      </div>
      <div class="about-galery-text-1">
        <h5>Service Repair</h5>
        <p>Sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enimolore eu fugiat nulla pariatur.</p>
        </div>
    </div><!--End col-->

 </div><!-- End row-->



 </div><!--End container-->
