<% if notice %>
    <p id="notice" class="alert alert-primary"><%= notice %></p>
<% end %>
<div id="carouselExampleControls" class="carousel slide" data-ride="carouselferg">
  <div class="carousel-inner index-carousel">
    <div class="carousel-item active">
      <%=image_tag("Cycling-image-1.jpg", class:"index-carouse-image")%>
      <div class="carousel-caption">
        <div class="carousel-text">
          <div class=" d-flex align-items-start flex-column Carousel-title-1">
            <p>Find your</p>
            <p>Perfect</p>
            <p>Bikes</p>
          </div>
          <button type="button" name="button">
            SHOP NOW</button>
        </div>
      </div>
      <!---carousel-caption-->
    </div>
    <!--End carousel-caption-->
    <div class="carousel-item">
      <%=image_tag("Cycling-image-3.jpg", class:"index-carouse-image")%>
      <div class="carousel-caption">
        <div class="carousel-caption">
          <div class="carousel-text">
            <div class=" d-flex align-items-start flex-column Carousel-title-1">
              <p>Find your</p>
              <p>Perfect</p>
              <p>Bikes</p>
            </div>
            <button type="button" name="button">
              SHOP NOW</button>
          </div>
        </div>
        <!---carousel-caption-->
      </div>
      <!--End carousel-caption-->
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class=" control-carousel" aria-hidden="true"><%=image_tag("back_arrow.png")%></span>

  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class=" control-carousel" aria-hidden="true"><%=image_tag("next_arrow.png")%></span>

  </a>
</div>

<div class="container index-cont-1">
  <div class="row">
    <div class="col-firstinfo col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="shipping-content d-flex">
        <div class="img-chipping ">
          <%=image_tag("shopping.png")%>
        </div>
      </div>
      <div class="text-shipping">
        <h5>FREE SHIPPING</h5>
        <p>Free shipping on all Local Area order above $200</p>
      </div>
    </span>
  </div>
  <!--End col-->
  <div class="col-firstinfo col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="shipping-content d-flex">
      <div class="img-chipping ">
        <%=image_tag("telephone.png")%>
      </div>
    </div>
    <div class="text-shipping">
      <h5>24/7 SUPPORT</h5>
      <p>Our Support Team is available 24 hours</p>
    </div>
  </div>
  <!--End col-->
  <div class="col-firstinfo col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="shipping-content d-flex">
      <div class="img-chipping ">
        <%=image_tag("refresh.png")%>
      </div>
    </div>
    <div class="text-shipping">
      <h5>30 DAYS RETURNS</h5>
      <p>Product any fault within 30 days for an exchange.</p>
    </div>
  </div>
  <!--End col-->
</div>
</div>
<!--End container-->

<div class="container index-first-galery">
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-galery-1">

    <div class="galery-info-1">
      <%=image_tag("street-cycling.jpg", class: "cycling-image-1")%>
      <div class="cycling-image-text-1">
        <h5>STREET COLLECTION</h5>
        <p>SAVE UP 20%</p>
        <button type="button" name="button">SHOP NOW</button>
      </div>
    </div>
    <!--End galery-info-1-->

    <div class="galery-info-2 ">
      <%=image_tag("spring.jpg", class: "cycling-image-2")%>
      <div class="cycling-image-text-2 d-flex" align="right">
        <div class="box-cycling-text">
          <h5>SPRING BIKE SALES</h5>
          <p>SAVE UP TO 50%</p>
          <button type="button" name="button">SHOP NOW</button>
        </div>
      </div>
    </div>
    <!--End image-info-2-->
  </div>
  <!--End col -->

  <div class="col-sm-12 col-md-12  col-lg-6  ">
    <div class="galery-info-3">
      <%=image_tag("for-women.jpg", class: "cycling-image-3")%>
      <div class="cycling-image-text-3">
        <p class="title-text-3">COLLECTION</p>
        <h5>FOR WOMEN</h5>
        <p>SAVE UP TO 25%</p>
        <button type="button" name="button">SHOP NOW</button>
      </div>
    </div>
  </div>
  <!--End col -->

</div>
</div>

<div class="container index-galery-2">
<div class="index-galery-2-title">
  <h1>New Arrivals</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>

<nav class=" d-flex nav-index-gallery justify-content-center">
  <ul>
    <li class=" item-color">
      Newest
    </li>
    <li class="">
      Best Sellers
    </li>
    <li class="">
      On sale
    </li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="image-galery-2">
      <%=image_tag("index-galery-1.jpg")%>
      <div class="title-selling-image-1">
        <h6>
          <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
          <h6>
            <p>Bag Ironhorse Phoenix 1.3</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 hidden-image-xs">
        <div class="image-galery-2">
          <%=image_tag("index-galery-2.jpg")%>
          <div class="title-selling-image-1">
            <h6>
              <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
              <h6>
                <p>Bag Ironhorse Phoenix 1.3</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 margin-image-2 hidden-image-xs">
            <div class="image-galery-2">
              <%=image_tag("index-galery-3.jpg")%>
              <div class="title-selling-image-1">
                <h6>
                  <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                  <h6>
                    <p>Bag Ironhorse Phoenix 1.3</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 margin-image-2 hidden-image-xs ">
                <div class="image-galery-2">
                  <%=image_tag("index-galery-4.jpg")%>
                  <div class="title-selling-image-1">
                    <h6>
                      <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                      <h6>
                        <p>Bag Ironhorse Phoenix 1.3</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End row -->
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="image-galery-2">
                      <%=image_tag("index-galery-3.jpg")%>
                      <div class="title-selling-image-1">
                        <h6>
                          <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                          <h6>
                            <p>Bag Ironhorse Phoenix 1.3</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-3 hidden-image-xs">
                        <div class="image-galery-2">
                          <%=image_tag("index-galery-4.jpg")%>
                          <div class="title-selling-image-1">
                            <h6>
                              <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                              <h6>
                                <p>Bag Ironhorse Phoenix 1.3</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3 margin-image-2 hidden-image-xs">
                            <div class="image-galery-2">
                              <%=image_tag("index-galery-1.jpg")%>
                              <div class="title-selling-image-1">
                                <h6>
                                  <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                                  <h6>
                                    <p>Bag Ironhorse Phoenix 1.3</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-3 margin-image-2 hidden-image-xs ">
                                <div class="image-galery-2">
                                  <%=image_tag("index-galery-2.jpg")%>
                                  <div class="title-selling-image-1">
                                    <h6>
                                      <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                                      <h6>
                                        <p>Bag Ironhorse Phoenix 1.3</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- End row -->
                                <div class="row">
                                  <div class="col-sm-6 col-md-3">
                                    <div class="image-galery-2">
                                      <%=image_tag("index-galery-1.jpg")%>
                                      <div class="title-selling-image-1">
                                        <h6>
                                          <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                                          <h6>
                                            <p>Bag Ironhorse Phoenix 1.3</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 col-md-3 hidden-image-xs">
                                        <div class="image-galery-2">
                                          <%=image_tag("index-galery-3.jpg")%>
                                          <div class="title-selling-image-1">
                                            <h6>
                                              <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                                              <h6>
                                                <p>Bag Ironhorse Phoenix 1.3</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-6 col-md-3 margin-image-2 hidden-image-xs">
                                            <div class="image-galery-2">
                                              <%=image_tag("index-galery-2.jpg")%>
                                              <div class="title-selling-image-1">
                                                <h6>
                                                  <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                                                  <h6>
                                                    <p>Bag Ironhorse Phoenix 1.3</p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-sm-6 col-md-3 margin-image-2 hidden-image-xs ">
                                                <div class="image-galery-2">
                                                  <%=image_tag("index-galery-3.jpg")%>
                                                  <div class="title-selling-image-1">
                                                    <h6>
                                                      <span>$221.00</span>&nbsp&nbsp<strong>$181.00</strong>
                                                      <h6>
                                                        <p>Bag Ironhorse Phoenix 1.3</p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!-- End row -->
                                              </div>
                                              <!-- End container-->
                                              <div class="parallax">
                                                <div class="parallax-info">
                                                  <h3>Btwin Riverside 500 Hybrid</h3>
                                                  <p>PRICE: $350.00</p>
                                                  <button type="button" name="button">
                                                    <%=image_tag("parallax-cart.png",)%>
                                                    SHOP NOW
                                                  </button>
                                                </div>
                                              </div>
