


<%= link_to product do %>
<div class="col-lg-4">
  <div class="product-content" id="product-content">
    <div class="image-product" >
    <%= image_tag(product.image_url, class: "img-fluid") %>
    </div>

    <div class="icon-product" id="icon-product">
      <div class="icons-product-container" align="left">


        <div class="icon-product-3">
          <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }  do %>
            <%=image_tag("close-cross.png")%>
          <% end %>
        </div>

      </div>
    </div><!--End icon-product-->

    <div class="product-details d-flex justify-content-between">
      <h5><%= product.name %></h5>
        <%= link_to edit_product_path(product) do %>
          <%=image_tag("edit-product.png", class: "icon-product-edit")%>
        <% end %>
    </div>
    <div class="horizontal-line-product">
      <hr>
    </div>
    <p class="product-description"><%= product.description %></p>
    <div class="cost-container">
    <p class="cost-product" align="right">$&nbsp<%= product.price %></p>
    </div>
  </div><!--End product-content-->
</div><!--End col-->



<% end %>
