<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Oswald" rel="stylesheet">

<div class="header-products d-flex justify-content-center">
  <div class="header-image-info">
   <h1>Give your life a Pedal</h1>
    <button type="button" name="button"><%= link_to 'ADD PRODUCT', new_product_path, {:style=>'color:#FFFFFF;', class: "add-product-link"} %></button>
</div>
</div><!--End header-products -->





<p id="notice"><%= notice %></p>


      <div class="container">
        <div class="row">

          <% @products.each do |product| %>
          <div class="col-lg-4" onmouseover="show_icons()">
            <div class="product-content" id="product-content">
              <div class="image-product" >
              <%= image_tag(product.image_url, class: "img-fluid") %>
              </div>

              <div class="icon-product" id="icon-product">
                <div class="icons-product-container">
                  <div class="icon-product-1">
                    <%= link_to product do %>
                      <%=image_tag("look-product.png", )%>
                    <% end %>

                  </div>
                  <div class="icon-product-2">
                    <%= link_to edit_product_path(product) do %>
                      <%=image_tag("edit-product.png")%>
                    <% end %>

                  </div>
                  <div class="icon-product-3">
                    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                      <%=image_tag("close-cross.png")%>
                    <% end %>

                  </div>
                </div>
              </div><!--End icon-product-->

              <div class="product-details ">
                <h5><%= product.name %></h5>
              </div>
              <hr>
              <p class="product-description"><%= product.description %></p>
              <div class="cost-container">
              <p class="cost-product" align="right">$&nbsp<%= product.cost %></p>
              </div>
            </div><!--End product-content-->
          </div><!--End col-->


          <% end %>

        </div><!--End row-->
      </div><!--End container-->
