<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row" align="center">
    <div class="col-12">
      <div class="view-product-image">
          <%= image_tag(@product.image_url, class: "img-fluid") %>
       </div>
    </div>



  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>cost:</strong>
  <%= @product.cost %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
