<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>New-app</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if alert %>
        <p class="alert alert-primary text" align="center"><%=alert%></p>
    <% end %>

    <header>

      <div class="hidden_header" id="hidden_header">
        <nav class="navbar  navbar-expand-lg navbar-dark">
          <%=image_tag("bicycle-logo.png", class: "navbar-brand")%>
          <span class="hidden-icon-container ml-auto">
            <%=image_tag("loading-arrows.png", class: "hidden-icon")%>
            <span data-toggle="collapse" data-target="#search_hidden">
              <%=image_tag("search.png", class: "hidden-icon")%>
            </span>
          </span>
          <span class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
              <%=image_tag("hidden_menu.png")%></span>
          </span>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

              <li><%= link_to "HOME", simple_pages_index_path, {:style=>'color:#27ae60;'} %></li>
              <li><%= link_to "ABOUT US", simple_pages_about_path, {:style=>'color:#000;'} %></li>
              <li><%= link_to "PRODUCTS", products_path, {:style=>'color:#000;'} %></li>
              <li><%= link_to "LANDING PAGE", simple_pages_landing_page_path, {:style=>'color:#000;'} %></li>
              <li><%= link_to "ORDERS", orders_path, { :style=>'color:#000;'} %></li>
              <li><%= link_to "CONTACT US", simple_pages_contact_path, {:style=>'color:#000;'} %></li>
            </ul>
          </div>
        </nav>

      </div>
      <!--End hidden header-->

      <div class="collapse" id="search_hidden">
        <%= form_with(url: products_path, method: 'get', local: true, class:"form-group row form-hidden") do |form| %>
        <%= form.label :q, 'Search for:', class:"col-sm-3 col-form-label", for:"inputHorizontalSuccess" %>

        <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control form-control-success", placeholder:"Enter Search Keyword..." %>
        <div class="input-group-append">
          <%= form.submit class: 'btn btn-success submit-button-header' %>
         </div>
         <% end %>

        <!--form-horizontal-->
      </div>
      <!--Hidden search-->






      <div class="contact-header" id="contact-header">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-7 socialnet-top ">
              <div class="contact-icon">
                <p>USD ($)
                  <%=image_tag("arrow.png", class: "top-icon", id: "currency")%></p>
                &nbsp&nbsp
                <p><%=image_tag("phone-icon.png", class: "top-icon")%>126-632-2345</p>
              </div>
              <!--End -->
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5 socialnet-top margin-top-icon">
              <div class="icon-top-social">
                <%=image_tag("facebook-icon.png", class: "top-icon")%>
                <%=image_tag("twitter.png", class: "top-icon")%>
                <%=image_tag("google-plus.png", class: "google-icon")%>
                <%=image_tag("dribbble.png", class: "top-icon")%>
                <%=image_tag("linkedin-logo.png", class: "top-icon")%>
                &nbsp&nbsp
                <p><%=image_tag("envelope-icon.png")%>
                  &nbsppujols.fr@gmail.com</p>
              </div>
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End container-fluid-->

      </div>
    </header>

    <div class="container form-header" id="form-header">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3">
          <%=image_tag("bicycle-logo.png", class: "principal-logo")%>
        </div>
        <div class="col-lg-9 col-md-9 col-md-9">
          <%= form_with(url: products_path, method: 'get', local: true, class:" form-group row form-horizontal") do |form| %>
          <%= form.label :q, 'Search for:', class:"col-sm-3 col-form-label", for:"inputHorizontalSuccess" %>
          <div class="col-sm-9 input-style">
            <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control form-control-success", placeholder:"Enter Search Keyword..." %>
            <div class="input-group-append">
              <%= form.submit 'Search', class: 'btn btn-success submit-button-header' %>
             </div>
          </div>
        <% end %>
      </div>
    </div>
    <!--End row-->
  </div>
  <!--End form-header-->

  <div class=" nav-container" id="nav-container">
    <div class="container ">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 ">
          <div class="dropdown">
            <p class="drop-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=image_tag("menu-button.png", class: "drop-icon-menu")%>
              CATEGORIES
              <%=image_tag("down-arrow.png", class: "drop-icon-arrow")%>
            </p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!--end col-3-->
        <div class="col-md-9 col-sm-9 col-lg-9 ">
          <div class="list-container">
            <ul class=" nav links-navbar">
              <li><%= link_to "HOME", simple_pages_index_path, { class: 'link_style'} %></li>
              <li><%= link_to "ABOUT US", simple_pages_about_path, { class: 'link_style'} %></li>
              <li><%= link_to "PRODUCTS", products_path, { class: 'link_style'} %></li>
              <li><%= link_to "LANDING PAGE", simple_pages_landing_page_path, { class: 'link_style'} %></li>
              <li><%= link_to "ORDERS", orders_path, { class: 'link_style'} %></li>
              <li><%= link_to "CONTACT US", simple_pages_contact_path, { class: 'link_style'} %></li>
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to('LOGOUT', destroy_user_session_path, method: :delete, class: "link_style") %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to('LOGIN', new_user_session_path, class: "link_style") %>
              </li>
              <% end %>
              </li>
            </ul>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End container-->
    </div>
  </div>


  <!--End nav container-->
  <%= yield %>

  <div class="contact-footer-info">
    <div class="container">
      <div class="row">
        <div class="  col-md-5  col-lg-4 ">
          <div class="info-social-contact">
            <div class="bicycle-footer-logo">
              <%=image_tag("bicycle-footer-logo.png")%>
            </div>
            <div class="info-social-text">
              <p>Ciya Shop is an enchanting and easy to use e-Commerce WP theme that allows you to sell your products in a dynamic way.</p>
            </div>
            <div class="footer-contact-icons">
              <div class="fc-ft-icon">
                <%=image_tag("facebook-contact-icon.png")%>
              </div>
              <div class="fc-ft-icon">
                <%=image_tag("twitter-ft-contact.png")%>
              </div>
              <div class="fc-ft-icon">
                <%=image_tag("google-ft-contact.png")%>
              </div>
              <div class="fc-ft-icon">
                <%=image_tag("dribbble-ft-contact.png")%>
              </div>
              <div class="fc-ft-icon">
                <%=image_tag("linkedin-ft-contact.png")%>
              </div>
            </div>
            <!--end footer-contact-icons-->
          </div>
          <!--End info-social-contact-->
        </div>
        <!--End col-->

        <div class=" col-md-3  col-lg-4 hidden-col-hours ">
          <div class=" opening-title">
            <h3>Opening Hours</h3>
          </div>
          <div class="opening-hours">
            <%["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"].each do |x|%>
              <p><%=image_tag("clock-circular.png")%>&nbsp&nbsp<%=x%></p>
            <%end%>
          </div>
          <!--End opening hours-->

        </div>
        <!--End col-->

        <div class=" col-sm-12 col-md-4  col-lg-4 ">
          <div class="adress-info-footer">
            <h3>Contact Info</h3>
            <div class="text-adress d-flex">
              <div class="icon-adress-1">
                <%=image_tag("Location-ft-contact.png")%>

              </div>
              <p >1635 Franklin Street Montgomery, Near Sherwood Mall. AL 36104</p>
            </div>
            <!--End text-adress-->
            <div class="text-adress d-flex">
              <div class="icon-adress-1">

                <p><%=image_tag("envelope-ft-contact.png")%>
                </div>
                <p>support@ciyashop.com</p>
              </div>
              <!--End text-adress-->
              <div class="text-adress d-flex">
                <div class="icon-adress-1">
                  <%=image_tag("call-ft-contact.png")%>
                </div>
                <p>126-632-2345</p>
              </div>
              <!--End text-adress-->
            </div>
            <div class="input-group mb-3 footer-contact-input">
              <input type="text" class="form-control" placeholder="Enter your email">
              <div class="input-group-append btn-input-footer">
                <button class=" btn-success" type="submit"><%=image_tag("send-mail.png")%></button>
              </div>
            </div>

          </div>
          <!--End col-->
        </div>
        <!---End row-->
      </div>
      <!--End container-->
    </div>

    <footer>
      <div class="footer-full-width">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
              <span>© Copyright 2018 Felix All Rights Reserved.</span>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
              <div class="card-icons">
                <%=image_tag("skrill.png",class: "credit-card")%>
                <%=image_tag("american-express.png",class: "credit-card")%>
                <%=image_tag("paypal.png",class: "credit-card")%>
                <%=image_tag("mastercard.png",class: "credit-card")%>
                <%=image_tag("visa.png", class: "credit-card")%>

              </div>
            </div>
          </div>
          <!-- End row -->
        </div>
        <!-- End container-->
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
